@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tcqtn5');
	src:url('../fonts/icomoon.eot?#iefixtcqtn5') format('embedded-opentype'),url('../fonts/icomoon.woff?tcqtn5') format('woff'),url('../fonts/icomoon.ttf?tcqtn5') format('truetype'),url('../fonts/icomoon.svg?tcqtn5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
	content: "\e600";
}
.icon-like:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e603";
}
.icon-plus:before {
	content: "\e604";
}
.icon-rev:before {
	content: "\e605";
}
.icon-share:before {
	content: "\e606";
}
.icon-shufle:before {
	content: "\e607";
}
.icon-volume:before {
	content: "\e608";
}
